<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>QA by the Bay</title>
	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <script src="../jquery/jquery-1.9.1.js"></script>
</head>
<body>
  <%= yield %>

</body>
</html>
