<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>BAY QA</title>
	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <script src="../jquery/jquery-1.9.1.js"></script>
</head>
<body>
  <%= yield %>
  <div class="span4"></div>
  <div class="span4 offset5">
  <!--  footer  -->
    <p class="lead">Alex Filatau for Code Camp 2012</p>
  </div>
  <div class="span4"></div>
</body>
</html>
